
/* contact 반응형 */
@media (max-width:1280px){
    .contact_inner .contact1 form li span{
        width: 80px;
    }
    .contact_inner .contact2 .qna a{
        font-size: 22px;
    }
}



@media (max-width:768px){
    .header_inner{
        top: -40px;
    }
    #contact{
        position: relative;
        height: 100%;
        margin-top: 110px;
    }
    .contact_inner{
        flex-direction: column;
        height: 100%;
        margin: 15px;
    }

    
    .contact1, .contact2{
        width: 100%;
    }
    .contact1{
        padding-right: 0;
        position: relative;

    }
    .contact_inner h2{
        font-size: 30px;
        font-weight: 500;
        margin: 0 auto 20px;
        text-align: center;
    }

    .contact1::after{
        border-right: none;
        border-bottom: 2px solid #000;
        top: calc(100% + 25px);
        right: 20%;
        height: initial;
        width: 60%;    
    }
    .contact_inner .contact1 form{
        font-size: 16px;
    }
    .contact_inner .contact1 form ul{
    }
    .contact_inner .contact1 form li input{
        width: 100%;
        min-width: 70px;
        font-size: 16px;

    }
    .contact_inner .contact1 form li input::placeholder{
        font-size: 12px;
    }
    .contact_inner .contact1 form li:nth-of-type(1) input,.contact_inner .contact1 form li:nth-of-type(2) input{
        max-width: 200px;
    }
    .contact_inner .contact1 form li:nth-of-type(3) textarea{
        height: 25vh;
    }
    .contact_inner .contact1 form li:nth-of-type(4) button{
        float: initial;
        width: 30%;
        min-width: 100px;
        margin-left: 50%;
        transform: translate(-50%);
        font-size: 14px;
        height: 34px;
        line-height: 34px;
        padding: 0 5px;
        

    }
    .contact_inner .contact2{
        padding-left: 0;
        padding-top: 50px;
    }
    .contact_inner .contact2 .qna a{
        font-size: 16px;
    }
    .contact_inner .contact2 .qna strong{
        font-size: 28px;
    }

}

@media (max-height: 1000px){
    .contact_inner .contact1 form li:nth-of-type(3) textarea{
        max-height: 12vh;
    }
}